<div class="panel panel-<%= team.active? ? "primary" : "default" %>">
  <div class="panel-heading">
    <%- if team.active? %>
      <%= button_to team, { method: :put, class: "btn btn-default btn-xs" } do %>
        <span class='glyphicon glyphicon-ok' aria-hidden='true'></span> Successful return
      <%- end %>
    <%- end %>
    Mission: <%= team.mission %>
    <%- if team.disbanded? %>
      (<%= distance_of_time_in_words(team.created_at, team.disbanded_at) %>)
    <%- end %>
  </div>
  <div class="panel-body">
    <ul class="thumbnails image_picker_selector">
    <%- team.mutants.each do |mutant| %>
      <li><div class="thumbnail">
        <%= image_tag mutant.image_url %>
        <p><%= mutant.name %></p>
      </div></li>
    <%- end %>
    </ul>
  </div>
</div>
