<h2>Teams in mission</h2>
<%- @teams.each do |team| -%>
<%- team.mutants.each do |mutant| -%>
<%= mutant.name %>
<%- end -%>
<%- end -%>

<h2>Send new team</h2>
<h3>Free mutants</h3>
<%= simple_form_for @team do |f| %>
<%= f.input :mutant do %>
<%= f.select :mutant_ids, @mutants.map { |f| [f.name, f.id, { 'data-img-src' => f.image_url} ] }, { :prompt => "Please select"}, { :multiple => true, :size => 5, :class=>"image-picker show-html" } %>
<% end %>
<%= f.input :mission %>
<%= f.button :submit, "Send team" %>
<% end %>
